.blog-item-page {
  .blog-item-page-container {

    .image-block {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
        height: 64rem;

        @media (max-width: 500px) {
          height: 30rem;
        }
      }
    }

    .text-block {
      margin-top: 3.8rem;
      display: grid;
      grid-template-columns: 1fr 36.8rem;
      gap: 2.8rem;
      font-size: 1.5rem;
      line-height: 2.1rem;

      @media (max-width: 500px) {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 1.6rem;
      }

      .state {
        @media (max-width: 500px) {
          font-size: 1.2rem;
        }

        .title-state {
          font-weight: 600;
          font-size: 2.6rem;
          line-height: 3.64rem;
          padding: 2.6rem 0;

          @media (max-width: 500px) {
            font-size: 2rem;
            padding: 2.2rem 0;
            line-height: 2.8rem;
          }
        }

        .bullet-list {
          li {
            margin-left: 2.5rem;
          }

          list-style-type: disc;
        }
      }

      .list {
        padding: 2rem;
        background-color: #F9F9F9;
        height: fit-content;

        @media (max-width: 500px) {
          padding: 1.4rem;
        }

        .title {
          font-weight: 600;
          font-size: 2.6rem;
          line-height: 3.64rem;

          @media (max-width: 500px) {
            font-size: 1.8rem;
            line-height: 2.52rem;
          }
        }

        .main-list {
          margin-top: 3.2rem;
          font-size: 1.5rem;
          padding-left: 2rem;

          @media (max-width: 500px) {
            font-size: 1.2rem;
            margin-top: 1.8rem;
          }

          ol {
            list-style-type: decimal;
            margin-left: 20px;
            margin-top: 0.8rem;
            @media (max-width: 500px) {
              margin-top: 0.4rem;
            }
          }

          li {
            margin-bottom: 10px;
            list-style-type: decimal;
          }
        }
      }
    }
  }

  .popular-states-block {
    margin-bottom: 14rem;
    margin-top: 3.8rem;

    .title {
      font-weight: 600;
      font-size: 3.6rem;
      line-height: 5.04rem;
      margin-bottom: 2.6rem;

      @media (max-width: 500px) {
        font-size: 2.4rem;
        margin-bottom: 2.2rem;
      }
    }

    .popular-states-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1.8rem;

      @media (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);

        .blog-item {
          &:nth-child(n+3) {
            display: none;
          }
        }
      }
    }
  }
}