<div class="page-nav">
  <div class="container">
    <div class="page-nav__container">
      <a href="#" class="page-nav__link">
        Главная
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        О клинике
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<section class="main-about about">
  <div class="line main-about__line">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 278" fill="none">
      <path opacity="0.5"
        d="M1984.5 2C1923 77.8333 1765.7 223.6 1628.5 200C1457 170.5 1979.5 125 1270 251C560.5 377 707.5 -30 -66 272.5"
        stroke="#E1EFEF" stroke-width="4" />
    </svg>
  </div>

  <div class="container">

    <div class="main-about__container">
      <h1 class="page-title main-about__title">О клинике</h1>

      <div class="main-about__img">
        <img src="./assets/images/main-about.jpg" alt="">
      </div>

      <div class="main-about__inner">
        <div class="main-about__text">
          <p>
            Клиника европейских медицинских технологий. Юмед — место, где вам подарят новый взгляд на ваше здоровье.
          </p>
          <p>
            «Здоровье и безопасность нашего пациента — это основа и главное составляющее всей нашей структуры работы.
            Здоровье в приоритете! Все наши услуги мы выполняем исключительно после детальной консультации»
          </p>
        </div>

        <div class="main-about-info">
          <div class="main-about-info__item">
            <span class="main-about-info__value">17+</span>
            <p class="main-about-info__text">лет опыта в сфере медицины</p>
          </div>
          <div class="main-about-info__item">
            <span class="main-about-info__value">90 000+</span>
            <p class="main-about-info__text">довольных пациентов</p>
          </div>
          <div class="main-about-info__item">
            <span class="main-about-info__value">11+</span>
            <p class="main-about-info__text">лет – стаж каждого специалиста</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="about-advantages">
  <div class="line about-advantages__line">
    <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="412" viewBox="0 0 1920 412" fill="none">
      <path opacity="0.5" d="M-104 409.5C110.333 361.833 649.4 272.6 1091 297C1643 327.5 1788 10.5 2015 2"
        stroke="#E1EFEF" stroke-width="4" />
    </svg>
  </div>

  <div class="container">
    <h3 class="block-title about-advantages__title">Наши преимущества</h3>

    <div class="about-advantages__container">

      <div class="about-advantages__img">
        <img src="./assets/images/about-advantages-1.jpg" alt="">
      </div>

      <ul class="about-advantages__list">
        <li class="about-advantages-item">
          <h5 class="about-advantages-item__title">Безупречная репутация</h5>
          <p class="about-advantages-item__text">За 17 лет работы более 90 000 довольных клиентов</p>
        </li>
        <li class="about-advantages-item">
          <h5 class="about-advantages-item__title">Топ-специалисты России</h5>
          <p class="about-advantages-item__text">С опытом работы более 11 лет</p>
        </li>
        <li class="about-advantages-item">
          <h5 class="about-advantages-item__title">Передовое оборудование</h5>
          <p class="about-advantages-item__text">Производство США, Англия, Израиль</p>
        </li>
        <li class="about-advantages-item">
          <h5 class="about-advantages-item__title">Безболезненные процедуры</h5>
          <p class="about-advantages-item__text">Все препараты пробуем на себе</p>
        </li>
      </ul>

    </div>
  </div>
</section>

{{> _masters }}

{{> _our-works }}

{{> _reviews }}

{{> _licenses }}

{{> _main-form }}