<div class="page-nav">
    <div class="container">
        <div class="page-nav__container">
            <a href="#" class="page-nav__link">
                Главная
                <svg>
                    <use href="#drop-arrow-icon"></use>
                </svg>
            </a>
            <a href="#" class="page-nav__link">
                Блог
                <svg>
                    <use href="#drop-arrow-icon"></use>
                </svg>
            </a>
            <a href="#" class="page-nav__link">
                Как подтянуть овал лица?
                <svg>
                    <use href="#drop-arrow-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>

<section class="blog-item-page">
    <div class="container">
        <h1 class="page-title specialists__title">Как подтянуть овал лица?</h1>

        <div class="blog-item-page-container">
            <div class="image-block">
                <img src="./assets/images/service-case-1.jpg" alt="">
            </div>
            <div class="text-block">
                <div class="state">
                    <p>
                        Овал лица - первое, что считывается при взгляде на человека. Если он подтянут и имеет четкий
                        контур,
                        то человек автоматически кажется нам более красивым и молодым. «Поплывший» овал, напротив,
                        вызывает
                        у нас ассоциации со зрелостью и даже старостью, а порой с нездоровым образом жизни и
                        непривлекательностью в целом. В этой статье мы рассмотрим наиболее эффективные методы подтяжки
                        овала
                        лица
                    </p>
                    <div class="title-state">Как подтянуть овал лица?</div>
                    <p>
                        Здесь никакого секрета нет - все дело в возрастных изменениях кожи и в действии гравитации. Чем
                        старше мы становимся, тем меньше коллагена вырабатывает наша кожа. Это естественный процесс, но
                        он
                        приводит к тому. что эпидермис теряет эластичность, менее охотно восстанавливается. Все это
                        влияет
                        на овал лица; если у молодой девушки он подтянут, то у женщины за 40 он неминуемо опускается.
                        После достижения возраста от 30 до 40 лет наблюдается естественное опускание овала лица. Контур
                        теряет свою четкость, кожа становится обвислой, образуются складки и брыли. Это происходит
                        в результате воздействия гравитации и старения. Овал лица характеризуется рельефными скулами,
                        гладким переходом к щекам, округлым подбородком и ровной линией нижней челюсти без отвисшей кожи
                        и брылей. К сожалению, с возрастом происходят изменения во всех этих зонах, тонус тканей
                        снижается,
                        и овал лица теряет свою определенность.
                    </p>

                    <div class="title-state">Причины изменения контуров лица</div>
                    <ul class="bullet-list">
                        <li>Возрастные изменения: с возрастом подкожный жировой слой становится тоньше, жировые
                            отложения перераспределяются, кожа становится более сухой, теряет тонус, а также замедляется
                            выработка коллагена и эластина в организме.
                        </li>
                        <li>Избыточный вес и резкие изменения веса: нерегулярное питание и колебания массы тела могут
                            оказывать негативное влияние на контуры лица.
                        </li>
                        <li>Гормональные изменения: естественные флуктуации гормонального фона в периоды пред- и
                            климактерического периода, а также искусственные изменения, связанные с оперативными
                            вмешательствами, гормональной или химиотерапией, могут влиять на упругость кожи и контуры
                            лица.
                        </li>
                        <li>Другие факторы: тип старения, особенности наследственности, этнические особенности,
                            нарушение режима питания, вредные привычки, которые способствуют отечности и снижению
                            упругости тканей.
                        </li>
                    </ul>
                </div>
                <div class="list">
                    <div class="title">
                        Содержание статьи
                    </div>
                    <ol class="main-list">
                        <li>Причины изменения контура</li>
                        <li>Как подтянуть овал лица самостоятельно
                            <ol>
                                <li>Маски</li>
                                <li>Массаж</li>
                            </ol>
                        </li>
                        <li>Как подтянуть овал лица у косметолога
                            <ol>
                                <li>Нитевой лифтинг</li>
                                <li>Инъекционные методы</li>
                                <li>Аппаратная косметология</li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="popular-states-block">
            <div class="title">Популярные статьи:</div>
            <div class="popular-states-list swiper-container">
                <div class="swiper-wrapper">
                    {{#repeat 7}}
                    <div class="swiper-slide">
                        {{> _blog-item }}
                    </div>
                    {{/repeat}}
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

    </div>
</section>

{{> _pagination }}