<div class="page-nav">
    <div class="container">
        <div class="page-nav__container">
            <a href="#" class="page-nav__link">
                Главная
                <svg>
                    <use href="#drop-arrow-icon"></use>
                </svg>
            </a>
            <a href="#" class="page-nav__link">
                Блог
                <svg>
                    <use href="#drop-arrow-icon"></use>
                </svg>
            </a>
            <a href="#" class="page-nav__link">
                Как подтянуть овал лица?
                <svg>
                    <use href="#drop-arrow-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>

<section class="blog-item-page">
    <div class="container">
        <h1 class="page-title specialists__title">Как подтянуть овал лица?</h1>
    </div>
</section>