<section class="main-form">
  <div class="container">

    <div class="main-form__container">

      <div class="line main-form__line">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 798 492" fill="none">
          <path d="M-272 385.5C-82.1667 505.333 138.037 398.124 349.5 470.5C517.5 528 -307.5 482 796.5 -71"
            stroke="#E1EFEF" stroke-width="4" />
        </svg>
      </div>

      <div class="bubbles main-form__bubbles">
        <div class="bubbles__container" data-paralax>
          <span class="bubbles__item" data-depth="0.2"></span>
          <span class="bubbles__item" data-depth="0.4"></span>
        </div>
      </div>

      <form action="#" class="main-form__inner" data-sent>

        <div class="main-form__sent">
          <h4 class="block-title main-form__title">Спасибо! <br> Мы свяжемся с вами в ближайшее время</h4>
        </div>

        <div class="main-form__content">
          <h3 class="block-title main-form__title">Остались вопросы? <br> Мы можем помочь</h3>

          <p class="main-form__text">Пожалуйста, укажите Ваш телефон, чтобы обсудить все детали с нашим специалистом</p>

          <div class="main-form__inputs">
            <input type="text" class="default-input main-form__input" placeholder="Имя">
            <input type="text" class="default-input main-form__input _error" placeholder="Номер телефона">
          </div>

          <div class="main-form__info">
            <p class="main-form__legal">
              Нажимая на кнопку, Вы даете согласие на обработку персональных данных
            </p>
            <button type="submit" class="default-btn main-form__btn">Оставить заявку</button>
          </div>
        </div>

      </form>

    </div>

  </div>
</section>