<section class="main-top">
  <div class="container">
    <div class="main-top__container">

      <div class="main-top__info">
        <h1 class="block-title main-top__title">Клиника эстетической медицины</h1>
        <p class="main-top__text">Доводим до совершенства, сохраняя молодость</p>
      </div>

      <div class="main-top__img">
        <img src="./assets/images/main-top.png" alt="">
      </div>

      <div class="main-top__btn">
        <button type="button" class="default-btn" data-modal-form>Получить консультацию</button>
      </div>

    </div>
  </div>
</section>

<section class="main-about">
  <div class="line main-about__line">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 278" fill="none">
      <path opacity="0.5"
        d="M1984.5 2C1923 77.8333 1765.7 223.6 1628.5 200C1457 170.5 1979.5 125 1270 251C560.5 377 707.5 -30 -66 272.5"
        stroke="#E1EFEF" stroke-width="4" />
    </svg>
  </div>

  <div class="container">

    <h3 class="block-title main-about__title">О клинике</h3>

    <div class="main-about__container">

      <div class="main-about__img">
        <img src="./assets/images/main-about.jpg" alt="">
      </div>

      <div class="main-about__inner">
        <div class="main-about__text">
          <p>
            Клиника европейских медицинских технологий. Юмед — место, где вам подарят новый взгляд на ваше здоровье.
          </p>
          <p>
            «Здоровье и безопасность нашего пациента — это основа и главное составляющее всей нашей структуры работы.
            Здоровье в приоритете! Все наши услуги мы выполняем исключительно после детальной консультации»
          </p>
        </div>

        <div class="main-about-info">
          <div class="main-about-info__item">
            <span class="main-about-info__value">17+</span>
            <p class="main-about-info__text">лет опыта в сфере медицины</p>
          </div>
          <div class="main-about-info__item">
            <span class="main-about-info__value">90 000+</span>
            <p class="main-about-info__text">довольных пациентов</p>
          </div>
          <div class="main-about-info__item">
            <span class="main-about-info__value">11+</span>
            <p class="main-about-info__text">лет – стаж каждого специалиста</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="main-service">
  <div class="bubbles main-service__bubbles">
    <div class="bubbles__container" data-paralax>
      <span class="bubbles__item" data-depth="0.2"></span>
      <span class="bubbles__item" data-depth="0.4"></span>
    </div>
  </div>

  <div class="container">

    <h3 class="block-title main-service__title">Услуги</h3>

    <div class="main-service__container">
      <div class="main-service-item">
        <h4 class="main-service-item__title">Эстетическая косметология</h4>
        <ul class="main-service-item__list">
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Чистка лица</h6>
            <span class="main-service-item-info__value">/от 14 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Массаж лица</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Пилинги</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
        </ul>
      </div>
      <div class="main-service-item">
        <h4 class="main-service-item__title">Аппаратная косметология</h4>
        <ul class="main-service-item__list">
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Scarlet RF Lifting</h6>
            <span class="main-service-item-info__value">/от 14 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Вакуумный массаж с RF-лифтингом</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Пилинги</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
        </ul>
      </div>
      <div class="main-service-item">
        <h4 class="main-service-item__title">Инъекционная косметология</h4>
        <ul class="main-service-item__list">
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Инъекции ботулотоксина</h6>
            <span class="main-service-item-info__value">/от 14 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Инъекции ботулотоксина</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Контурная пластика</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Мезотерапия</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Коллагеновое омоложение</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Плазматерапия</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Тредлифтинг (мезонити)</h6>
            <span class="main-service-item-info__value">/от 4 000</span>
          </li>
        </ul>
      </div>
      <div class="main-service-item">
        <h4 class="main-service-item__title">Удаление новообразований</h4>
        <ul class="main-service-item__list">
          <li class="main-service-item-info">
            <h6 class="main-service-item-info__title">Удаление новообразований</h6>
            <span class="main-service-item-info__value">/от 14 000</span>
          </li>
        </ul>
      </div>
      <div class="main-service-item main-service-info">
        <p class="main-service-info__text">
          Клиника европейских медицинских технологий. Юмед — место, где вам подарят новый взгляд на ваше здоровье.
        </p>
        <button type="button" class="default-btn main-service-info__btn" data-modal-form>Записаться</button>
      </div>
    </div>

  </div>
</section>

{{> _masters }}

{{> _our-works }}

{{> _reviews }}

{{> _licenses }}

{{> _main-form }}