<section class="masters">
  <div class="bubbles masters__bubbles">
    <div class="bubbles__container" data-paralax>
      <span class="bubbles__item" data-depth="0.2"></span>
      <span class="bubbles__item" data-depth="0.4"></span>
    </div>
  </div>

  <div class="container">
    <div class="masters__container">

      <div class="masters__inner">
        <h3 class="block-title masters__title">Специалисты</h3>

        <div class="masters-nav">
          <div class="swiper-btns">
            <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
              <svg>
                <use href="#arrow-icon"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
              <svg>
                <use href="#arrow-icon"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="swiper masters-info">
          <div class="swiper-wrapper"></div>
        </div>
      </div>

      <div class="swiper masters-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="masters-item">
              <div class="masters-item__img">
                <img src="./assets/images/masters-1.jpg" alt="">
              </div>
              <div class="masters-item__info">
                <h5 class="masters-item__title">Масловская Юлия Александровна</h5>
                <div class="masters-item__text">
                  <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
                  <p>Стаж работы: 14 лет</p>
                </div>
                <button type="button" class="default-btn masters-item__btn" data-modal-form>Записаться</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="masters-item">
              <div class="masters-item__img">
                <img src="./assets/images/masters-2.jpg" alt="">
              </div>
              <div class="masters-item__info">
                <h5 class="masters-item__title">Мороз Юлия Александровна</h5>
                <div class="masters-item__text">
                  <p>Пластический хирург</p>
                  <p>Стаж работы: 10 лет</p>
                </div>
                <button type="button" class="default-btn masters-item__btn" data-modal-form>Записаться</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="masters-item">
              <div class="masters-item__img">
                <img src="./assets/images/masters-3.jpg" alt="">
              </div>
              <div class="masters-item__info">
                <h5 class="masters-item__title">Васильева Юлия Александровна</h5>
                <div class="masters-item__text">
                  <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
                  <p>Стаж работы: 6 лет</p>
                </div>
                <button type="button" class="default-btn masters-item__btn" data-modal-form>Записаться</button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="masters-item">
              <div class="masters-item__img">
                <img src="./assets/images/masters-4.jpg" alt="">
              </div>
              <div class="masters-item__info">
                <h5 class="masters-item__title">Иванова Юлия Александровна</h5>
                <div class="masters-item__text">
                  <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
                  <p>Стаж работы: 2 года</p>
                </div>
                <button type="button" class="default-btn masters-item__btn" data-modal-form>Записаться</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>