<div class="page-nav">
    <div class="container">
        <div class="page-nav__container">
            <a href="#" class="page-nav__link">
                Главная
                <svg>
                    <use href="#drop-arrow-icon"></use>
                </svg>
            </a>
            <a href="#" class="page-nav__link">
                Блог
                <svg>
                    <use href="#drop-arrow-icon"></use>
                </svg>
            </a>
        </div>
    </div>
</div>

<section class="blog">
    <div class="container">
        <h1 class="page-title specialists__title">Блог</h1>

        <div class="blog-block">

            <!--            Внизу для примера-->
            <!--            использовтаь это-->
            <!--            {{> _blog-item }}-->

            <div class="blog-item">
                <img src="./assets/images/masters-2.jpg" alt="">
                <div class="blog-item__title">Отечность лица: ТОП 5 решений, которые работают</div>
                <div class="blog-item__description">
                    Отечность – проблема распространенная и весьма неприятная. Чаще всего она дает о себе знать утром
                    после пробуждения, но может сохраняться и в течение всего дня.
                </div>
                <a target="_blank" href="blog-item-page.html" class="default-btn">Читать статью</a>
            </div>
            <div class="blog-item">
                <img src="./assets/images/masters-3.jpg" alt="">
                <div class="blog-item__title">Лето без жирного блеска и акне</div>
                <div class="blog-item__description">
                    Обладательницы жирного типа кожи летом сталкиваются со множеством неудобств. Жаркий воздух и
                    активная инсоляция становятся причиной интенсивной работы сальных желез.
                </div>
                <a target="_blank" href="" class="default-btn">Читать статью</a>
            </div>
            <div class="blog-item">
                <img src="./assets/images/masters-1.jpg" alt="">
                <div class="blog-item__title">СПФ-средства – важная часть ежедневного ухода за кожей</div>
                <div class="blog-item__description">
                    В уходе за кожей многие пренебрегают SPF-средствами, но регулярное воздействие солнечных лучей
                    приводит к раздражению
                    и покраснению.
                </div>
                <a target="_blank" href="" class="default-btn">Читать статью</a>
            </div>
            <div class="blog-item">
                <img src="./assets/images/masters-4.jpg" alt="">
                <div class="blog-item__title">Изменения в уходе за кожей осенью</div>
                <div class="blog-item__description">
                    Лето заканчивается, пора менять не только гардероб, но и содержимое косметички. После жаркого лета
                    кожа требуется более внимательного ухода.
                </div>
                <a target="_blank" href="" class="default-btn">Читать статью</a>
            </div>
            <div class="blog-item">
                <img src="./assets/images/masters-2.jpg" alt="">
                <div class="blog-item__title">Отечность лица: ТОП 5 решений, которые работают</div>
                <div class="blog-item__description">
                    Отечность – проблема распространенная и весьма неприятная. Чаще всего она дает о себе знать утром
                    после пробуждения, но может сохраняться и в течение всего дня.
                </div>
                <a target="_blank" href="" class="default-btn">Читать статью</a>
            </div>
            <div class="blog-item">
                <img src="./assets/images/masters-3.jpg" alt="">
                <div class="blog-item__title">Лето без жирного блеска и акне</div>
                <div class="blog-item__description">
                    Обладательницы жирного типа кожи летом сталкиваются со множеством неудобств. Жаркий воздух и
                    активная инсоляция становятся причиной интенсивной работы сальных желез.
                </div>
                <a target="_blank" href="" class="default-btn">Читать статью</a>
            </div>
            <div class="blog-item">
                <img src="./assets/images/masters-1.jpg" alt="">
                <div class="blog-item__title">СПФ-средства – важная часть ежедневного ухода за кожей</div>
                <div class="blog-item__description">
                    В уходе за кожей многие пренебрегают SPF-средствами, но регулярное воздействие солнечных лучей
                    приводит к раздражению
                    и покраснению.
                </div>
                <a target="_blank" href="" class="default-btn">Читать статью</a>
            </div>
            <div class="blog-item">
                <img src="./assets/images/masters-4.jpg" alt="">
                <div class="blog-item__title">Изменения в уходе за кожей осенью</div>
                <div class="blog-item__description">
                    Лето заканчивается, пора менять не только гардероб, но и содержимое косметички. После жаркого лета
                    кожа требуется более внимательного ухода.
                </div>
                <a target="_blank" href="" class="default-btn">Читать статью</a>
            </div>
        </div>
    </div>
</section>