<section class="our-works">
  <div class="line our-works__line">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 363" fill="none">
      <path
        d="M-213 267C-97.3333 319.333 184 405.8 384 333C634 242 931.5 367 1075 267C1218.5 167 1130.5 346.072 996.5 204.5C908 111 1925 333 2076 1"
        stroke="#E1EFEF" stroke-width="4" />
    </svg>
  </div>

  <div class="container">
    <h3 class="block-title our-works__title">Наши работы</h3>

    <div class="our-works__container">
      <div class="swiper our-works-photo">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="our-works-item">
              <div class="our-works-item__img">
                <img src="./assets/images/our-works-1.jpg" alt="">
              </div>
              <div class="our-works-item__inner">
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Процедура</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Что было сделано</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <a href="#" class="our-works-item__link">Читать отзыв</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="our-works-item">
              <div class="our-works-item__img">
                <img src="./assets/images/our-works-1.jpg" alt="">
              </div>
              <div class="our-works-item__inner">
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Процедура</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Что было сделано</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod</p>
                </div>
                <a href="#" class="our-works-item__link">Читать отзыв</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="our-works-item">
              <div class="our-works-item__img">
                <img src="./assets/images/our-works-1.jpg" alt="">
              </div>
              <div class="our-works-item__inner">
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Процедура</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Что было сделано</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <a href="#" class="our-works-item__link">Читать отзыв</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="our-works-item">
              <div class="our-works-item__img">
                <img src="./assets/images/our-works-1.jpg" alt="">
              </div>
              <div class="our-works-item__inner">
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Процедура</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Что было сделано</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <a href="#" class="our-works-item__link">Читать отзыв</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="our-works-item">
              <div class="our-works-item__img">
                <img src="./assets/images/our-works-1.jpg" alt="">
              </div>
              <div class="our-works-item__inner">
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Процедура</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Что было сделано</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <a href="#" class="our-works-item__link">Читать отзыв</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="our-works-item">
              <div class="our-works-item__img">
                <img src="./assets/images/our-works-1.jpg" alt="">
              </div>
              <div class="our-works-item__inner">
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Процедура</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet</p>
                </div>
                <div class="our-works-item__info">
                  <h6 class="our-works-item__title">Что было сделано</h6>
                  <p class="our-works-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <a href="#" class="our-works-item__link">Читать отзыв</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="our-works__inner">
        <div class="our-works-nav">
          <div class="our-works-nav-info">
            <span class="our-works-nav-info__current">00</span>
            <span class="our-works-nav-info__all">00</span>
          </div>

          <div class="swiper-btns">
            <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
              <svg>
                <use href="#arrow-icon"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
              <svg>
                <use href="#arrow-icon"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="swiper our-works-info">
          <div class="swiper-wrapper">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>