<div class="page-nav">
  <div class="container">
    <div class="page-nav__container">
      <a href="#" class="page-nav__link">
        Главная
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        Отзывы
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<section class="reviews-all">
  <div class="container">
    <h1 class="page-title reviews-all__title">Отзывы</h1>

    <div class="reviews-all__container">
      <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
        <div class="reviews-item__img">
          <img src="./assets/images/main-about.jpg" alt="">
        </div>
      </a>
      <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
        <div class="reviews-item__img">
          <img src="./assets/images/main-about.jpg" alt="">
        </div>
      </a>
      <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
        <div class="reviews-item__img">
          <img src="./assets/images/main-about.jpg" alt="">
        </div>
      </a>
      <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
        <div class="reviews-item__img">
          <img src="./assets/images/main-about.jpg" alt="">
        </div>
      </a>
      <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
        <div class="reviews-item__img">
          <img src="./assets/images/main-about.jpg" alt="">
        </div>
      </a>
      <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
        <div class="reviews-item__img">
          <img src="./assets/images/main-about.jpg" alt="">
        </div>
      </a>
      <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
        <div class="reviews-item__img">
          <img src="./assets/images/main-about.jpg" alt="">
        </div>
      </a>
      <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
        <div class="reviews-item__img">
          <img src="./assets/images/main-about.jpg" alt="">
        </div>
      </a>
    </div>
  </div>
</section>

{{> _main-form }}