<section class="reviews">
  <div class="container">
    <div class="reviews__container">

      <div class="reviews__inner">
        <h3 class="block-title reviews__title">Отзывы</h3>

        <div class="reviews-nav">
          <div class="swiper-btns">
            <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
              <svg>
                <use href="#arrow-icon"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
              <svg>
                <use href="#arrow-icon"></use>
              </svg>
            </button>
          </div>
        </div>

        <div class="reviews__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>

        <a href="#" class="default-btn reviews__btn">Читать все отзывы</a>
      </div>

      <div class="swiper reviews__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
              <div class="reviews-item__img">
                <img src="./assets/images/main-about.jpg" alt="">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
              <div class="reviews-item__img">
                <img src="./assets/images/main-about.jpg" alt="">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
              <div class="reviews-item__img">
                <img src="./assets/images/main-about.jpg" alt="">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
              <div class="reviews-item__img">
                <img src="./assets/images/main-about.jpg" alt="">
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="https://youtu.be/kLP78m0M354" class="reviews-item" data-fancybox data-video>
              <div class="reviews-item__img">
                <img src="./assets/images/main-about.jpg" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>