<div class="page-nav">
  <div class="container">
    <div class="page-nav__container">
      <a href="#" class="page-nav__link">
        Главная
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        Услуги
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        Инъекционная косметология
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<section class="service-head">
  <div class="container">
    <div class="service-head__container">

      <h1 class="page-title service-head__title">Инъекционная косметология</h1>

      <div class="service-head__text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Enim diam vulputate ut pharetra sit amet aliquam. Magnis dis parturient montes nascetur
          ridiculus mus mauris.
        </p>
        <p>
          Malesuada nunc vel risus commodo viverra maecenas accumsan lacus vel. Velit sed ullamcorper morbi tincidunt
          ornare massa. Cras adipiscing enim eu turpis.
        </p>
      </div>

      <div class="service-head__img">
        <img src="./assets/images/main-about.jpg" alt="">
      </div>

    </div>
  </div>
</section>

<section class="service-list">
  <div class="container">
    <div class="service-list__container">
      <div class="service-item">
        <a href="#" class="service-item__container">
          <h3 class="service-item__title">Инъекции ботулотоксина</h3>
          <p class="service-item__text">
            Самый популярный нехирургический метод избавления от морщин
          </p>
        </a>
        <div class="service-item__info">
          <h5 class="service-item__price">от 109 р</h5>
          <button type="button" class="default-btn service-item__btn" data-modal-form>Записаться</button>
        </div>
      </div>
      <div class="service-item">
        <a href="#" class="service-item__container">
          <h3 class="service-item__title">Биоревитализация</h3>
          <p class="service-item__text">
            Инъекционный метод борьбы с естественными процессами старения кожи (уколы молодости).
          </p>
        </a>
        <div class="service-item__info">
          <h5 class="service-item__price">от 1 900 р</h5>
          <button type="button" class="default-btn service-item__btn" data-modal-form>Записаться</button>
        </div>
      </div>
      <div class="service-item">
        <a href="#" class="service-item__container">
          <h3 class="service-item__title">Контурная пластика</h3>
          <p class="service-item__text">
            Безоперационный способ подтяжки, укрепления и омоложения кожи.
          </p>
        </a>
        <div class="service-item__info">
          <h5 class="service-item__price">от 7 400 р</h5>
          <button type="button" class="default-btn service-item__btn" data-modal-form>Записаться</button>
        </div>
      </div>
      <div class="service-item">
        <a href="#" class="service-item__container">
          <h3 class="service-item__title">Мезотерапия</h3>
          <p class="service-item__text">
            Введения небольших доз препаратов с гиалуроновой кислотой или смесей (коктейлей) под кожу на глубину 0,5-6
            мм.
          </p>
        </a>
        <div class="service-item__info">
          <h5 class="service-item__price">от 1 600 р</h5>
          <button type="button" class="default-btn service-item__btn" data-modal-form>Записаться</button>
        </div>
      </div>
      <div class="service-item">
        <a href="#" class="service-item__container">
          <h3 class="service-item__title">Плазматерапия</h3>
          <p class="service-item__text">
            Методика лечения, в основе которой лежит введение плазмы (PRP), получаемой из крови пациента и обогащенной
            тромбоцитами.
          </p>
        </a>
        <div class="service-item__info">
          <h5 class="service-item__price">от 6 300 р</h5>
          <button type="button" class="default-btn service-item__btn" data-modal-form>Записаться</button>
        </div>
      </div>
      <div class="service-item">
        <a href="#" class="service-item__container">
          <h3 class="service-item__title">Коллагеновое омоложение</h3>
          <p class="service-item__text">
            Инъекции коллагена стимулируют фибробласты к активному синтезу коллагена. Кожа омолаживается, становится
            плотной
            и эластичной, устраняются морщины и корректируются эстетические дефекты.
          </p>
        </a>
        <div class="service-item__info">
          <h5 class="service-item__price">от 10 000 р</h5>
          <button type="button" class="default-btn service-item__btn" data-modal-form>Записаться</button>
        </div>
      </div>
      <div class="service-item">
        <a href="#" class="service-item__container">
          <h3 class="service-item__title">Тредлифтинг (мезонити)</h3>
          <p class="service-item__text">
            Подтяжка без операций заключается во введении под кожу специальных нитей, формирующих надежный коллагеновый
            каркас. Смоделированная основа приподнимает ткани, делает кожу упругой и приостанавливает процессы
            провисания.
          </p>
        </a>
        <div class="service-item__info">
          <h5 class="service-item__price">от 380 р</h5>
          <button type="button" class="default-btn service-item__btn" data-modal-form>Записаться</button>
        </div>
      </div>
    </div>
  </div>
</section>

{{> _main-form }}