<section class="service-procedure">
  <div class="container ">
    <div class="service-procedure__wrapper">
      <div class="service-procedure__description">

        <h3 class="block-title service-procedure__title">Как проходит процедура</h3>
        <p class="service-procedure__text">На зону воздействия наносят разметку для равномерного распределения
          радиочастотного излучения, а затем
          гель-проводник. После чего каждый участок последовательно обрабатывается прикладываниями наконечника аппарата.
          Пациент чувствует приятное тепло от аппарата, который «прогревает» все слои кожи и запускает выработку нового
          коллагена, а система охлаждения исключает возможность перегрев, делая процесс еще более комфортным. После
          процедуры - она занимает в среднем 60 минут - можно сразу же вернуться к привычному образу жизни.</p>
      </div>
      <div class="service-procedure__video video__content">
        <a href="https://www.youtube.com/embed/kbXmakXvNfo?si=U_88aTHHw9sA523s&amp;controls=0" class="procedure-item" data-fancybox data-video>      
            <img  class="procedure-item__img" src="./assets/images/service-procedure.jpg" alt="">
        </a>
      </div>

    </div>


  </div>

</section>