<div class="page-nav">
  <div class="container">
    <div class="page-nav__container">
      <a href="#" class="page-nav__link">
        Главная
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        Услуги
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        Инъекционная косметология
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        Мезотерапия
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<section class="service-head service-case__head">
  <div class="container">
    <div class="service-head__container">

      <h1 class="page-title service-head__title">Мезотерапия</h1>

      <div class="service-head__text">
        <p>
          доровая, гладкая кожа без пятен и эстетических дефектов – это мечта каждой женщины. К сожалению уходовая
          косметика не всегда дает желаемый результат, и для улучшения состояния кожи нужны более радикальные методы.
          Одним из них стала мезотерапия. Это метод введения небольших доз препаратов с гиалуроновой кислотой или смесей
          (коктейлей) под кожу на глубину 0,5-6 мм. Процедура обычно проводится на лице, волосистой части головы,
          проблемных зонах тела.
        </p>
        <p>
          Мезотерапия – это методика воздействия на дерму, ткани, иммунную систему. Результат достигается за счет
          механического воздействия и фармакологических свойств применяемых препаратов. Следует отметить, что данная
          методика позволяет использовать не только отдельно взятые препараты, но и коктейли, состоящие из нескольких
          компонентов.
        </p>
      </div>

      <div class="service-head__img">
        <img src="./assets/images/service-case-1.jpg" alt="">
      </div>

    </div>
  </div>
</section>

<section class="service-effect">
  <div class="line service-effect__line">
    <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="278" viewBox="0 0 1920 278" fill="none">
      <path opacity="0.5"
        d="M1984.5 2C1923 77.8333 1765.7 223.6 1628.5 200C1457 170.5 1979.5 125 1270 251C560.5 377 707.5 -30 -66 272.5"
        stroke="#E1EFEF" stroke-width="4" />
    </svg>
  </div>

  <div class="container">

    <h3 class="block-title service-effect__title">Эффекты мезотерапии</h3>

    <div class="service-effect__container">
      <div class="service-effect-item">
        <h5 class="service-effect-item__title">Фармакологический эффект</h5>
        <div class="service-effect-item__text">
          <p>
            Врач вводит лекарственный препарат на необходимую глубину и в те участки, где существует проблема. В
            зависимости от целей врач подбирает препарат. В результате процедуры решаются локальные задачи. Для
            устранения морщины подбираются препараты, стимулирующие выработку эластина и коллагена. Для удаления жировых
            отложений выбирают препараты, которые расщепляют молекулы жира и активируют процессы липолиза.
          </p>
        </div>
      </div>
      <div class="service-effect-item">
        <h5 class="service-effect-item__title">Улучшение обменных процессов и локального кровоснабжения</h5>
        <div class="service-effect-item__text">
          <p>
            Укол – это микротравма. Прокалывание кожи стимулирует рост новых клеток. Так происходят процессы заживления.
          </p>
        </div>
      </div>
      <div class="service-effect-item">
        <h5 class="service-effect-item__title">Клеточная стимуляция</h5>
        <div class="service-effect-item__text">
          <p>
            В процессе проведения процедуры рецепторы кожи человека стимулируются иглой, и происходит приток крови к
            «травмированному» месту. Для усиления такого эффекта врач подберет соответствующий фармакологический
            препарат.
          </p>
        </div>
      </div>
      <div class="service-effect-item">
        <h5 class="service-effect-item__title">Рефлексогенный эффект</h5>
        <div class="service-effect-item__text">
          <p>
            Эффект от мезотерапии подобен эффекту от иглорефлексотерапии
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="service-info">
  <div class="bubbles service-info__bubbles">
    <div class="bubbles__container" data-paralax>
      <span class="bubbles__item" data-depth="0.2"></span>
      <span class="bubbles__item" data-depth="0.4"></span>
    </div>
  </div>

  <div class="container">

    <div class="service-info__container">
      <div class="service-info__item">
        <h3 class="service-info__title">Что дает мезотерапия</h3>

        <ul class="service-info-list">
          <li class="service-info-list__item">Улучшение состояния кожи лица, шеи, области декольте, профилактика
            старения
            кожи</li>
          <li class="service-info-list__item">Профилактика и лечение купероза</li>
          <li class="service-info-list__item">Улучшение состояния жирной и пористой кожи</li>
          <li class="service-info-list__item">Лечение угревой сыпи</li>
          <li class="service-info-list__item">Осветление пигментных пятен</li>
          <li class="service-info-list__item">Лечение и профилактика целлюлита</li>
          <li class="service-info-list__item">Лечение кожи головы и волос</li>
          <li class="service-info-list__item">Лечение стрий (растяжек)</li>
        </ul>
      </div>

      <div class="service-info__item">
        <h3 class="service-info__title">Цена</h3>

        <div class="service-info-price">
          <div class="service-info-price__item">
            <h6 class="service-info-price__title">Mesoeye (1мл)</h6>
            <span class="service-info-price__value">15 500 р</span>
          </div>
          <div class="service-info-price__item">
            <h6 class="service-info-price__title">Mesosculpt (1мл)</h6>
            <span class="service-info-price__value">15 500 р</span>
          </div>
          <div class="service-info-price__item">
            <h6 class="service-info-price__title">F-Hair (5мл)</h6>
            <span class="service-info-price__value">15 500 р</span>
          </div>
          <div class="service-info-price__item">
            <h6 class="service-info-price__title">F-Hair (1мл)</h6>
            <span class="service-info-price__value">15 500 р</span>
          </div>
          <div class="service-info-price__item">
            <h6 class="service-info-price__title">F-Hair MEN (4мл)</h6>
            <span class="service-info-price__value">15 500 р</span>
          </div>
          <div class="service-info-price__item">
            <h6 class="service-info-price__title">Revicell Periorbital Tetra Plex</h6>
            <span class="service-info-price__value">15 500 р</span>
          </div>
          <div class="service-info-price__item">
            <h6 class="service-info-price__title">Revicell Periorbital Plex</h6>
            <span class="service-info-price__value">15 500 р</span>
          </div>
          <div class="service-info-price__item">
            <h6 class="service-info-price__title">Hair Filler 1 ml</h6>
            <span class="service-info-price__value">15 500 р</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


{{> _service-procedure}}

{{> _our-works }}

{{> _reviews }}

{{> _main-form }}