<div class="page-nav">
  <div class="container">
    <div class="page-nav__container">
      <a href="#" class="page-nav__link">
        Главная
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        Услуги
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<section class="services">
  <div class="line services__line">
    <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="412" viewBox="0 0 1920 412" fill="none">
      <path opacity="0.5" d="M-104 409.5C110.333 361.833 649.4 272.6 1091 297C1643 327.5 1788 10.5 2015 2"
        stroke="#E1EFEF" stroke-width="4" />
    </svg>
  </div>

  <div class="container">
    <div class="services__container">

      <h1 class="page-title services__title">Услуги</h1>

      <ul class="services__list">
        <li class="services-item">
          <h3 class="services-item__title">Эстетическая косметология</h3>
          <div class="services-item__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <div class="services-item__inner">
            <div class="services-item__img">
              <img src="./assets/images/services-1.jpg" alt="">
            </div>
            <a href="#" class="default-btn services-item__btn">Перейти</a>
          </div>
        </li>
        <li class="services-item">
          <h3 class="services-item__title">Инъекционная косметология</h3>
          <div class="services-item__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <div class="services-item__inner">
            <div class="services-item__img">
              <img src="./assets/images/services-2.jpg" alt="">
            </div>
            <a href="#" class="default-btn services-item__btn">Перейти</a>
          </div>
        </li>
        <li class="services-item">
          <h3 class="services-item__title">Аппаратная косметология</h3>
          <div class="services-item__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <div class="services-item__inner">
            <div class="services-item__img">
              <img src="./assets/images/services-3.jpg" alt="">
            </div>
            <a href="#" class="default-btn services-item__btn">Перейти</a>
          </div>
        </li>
        <li class="services-item">
          <h3 class="services-item__title">Удаление новообразований</h3>
          <div class="services-item__text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.
            </p>
          </div>
          <div class="services-item__inner">
            <div class="services-item__img">
              <img src="./assets/images/services-4.jpg" alt="">
            </div>
            <a href="#" class="default-btn services-item__btn">Перейти</a>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>

{{> _main-form }}