<div class="page-nav">
  <div class="container">
    <div class="page-nav__container">
      <a href="#" class="page-nav__link">
        Главная
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        Специалисты
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<section class="specialists">
  <div class="line specialists__line">
    <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1003" viewBox="0 0 1920 1003" fill="none">
      <path
        d="M1993 924C2105 1279.5 2402.43 274.712 1410.47 436.319C170.523 638.327 897.717 117.734 1019.64 105.95C1141.56 94.1664 806.061 459.886 -36.999 2"
        stroke="#E1EFEF" stroke-width="4" />
    </svg>
  </div>

  <div class="container">

    <h1 class="page-title specialists__title">Специалисты</h1>

    <div class="specialists__list">
      <div class="specialists-item">
        <div class="masters-item">
          <div class="masters-item__img">
            <img src="./assets/images/masters-1.jpg" alt="">
          </div>
          <div class="masters-item__info">
            <h5 class="masters-item__title">Масловская Юлия Александровна</h5>
            <div class="masters-item__text">
              <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
              <p>Стаж работы: 14 лет</p>
            </div>
          </div>
        </div>
      </div>
      <div class="specialists-item">
        <div class="masters-item">
          <div class="masters-item__img">
            <img src="./assets/images/masters-1.jpg" alt="">
          </div>
          <div class="masters-item__info">
            <h5 class="masters-item__title">Масловская Юлия Александровна</h5>
            <div class="masters-item__text">
              <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
              <p>Стаж работы: 14 лет</p>
            </div>
          </div>
        </div>
      </div>
      <div class="specialists-item">
        <div class="masters-item">
          <div class="masters-item__img">
            <img src="./assets/images/masters-1.jpg" alt="">
          </div>
          <div class="masters-item__info">
            <h5 class="masters-item__title">Масловская Юлия Александровна</h5>
            <div class="masters-item__text">
              <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
              <p>Стаж работы: 14 лет</p>
            </div>
          </div>
        </div>
      </div>
      <div class="specialists-item">
        <div class="masters-item">
          <div class="masters-item__img">
            <img src="./assets/images/masters-1.jpg" alt="">
          </div>
          <div class="masters-item__info">
            <h5 class="masters-item__title">Масловская Юлия Александровна</h5>
            <div class="masters-item__text">
              <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
              <p>Стаж работы: 14 лет</p>
            </div>
          </div>
        </div>
      </div>
      <div class="specialists-item">
        <div class="masters-item">
          <div class="masters-item__img">
            <img src="./assets/images/masters-1.jpg" alt="">
          </div>
          <div class="masters-item__info">
            <h5 class="masters-item__title">Масловская Юлия Александровна</h5>
            <div class="masters-item__text">
              <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
              <p>Стаж работы: 14 лет</p>
            </div>
          </div>
        </div>
      </div>
      <div class="specialists-item">
        <div class="masters-item">
          <div class="masters-item__img">
            <img src="./assets/images/masters-1.jpg" alt="">
          </div>
          <div class="masters-item__info">
            <h5 class="masters-item__title">Масловская Юлия Александровна</h5>
            <div class="masters-item__text">
              <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
              <p>Стаж работы: 14 лет</p>
            </div>
          </div>
        </div>
      </div>
      <div class="specialists-item">
        <div class="masters-item">
          <div class="masters-item__img">
            <img src="./assets/images/masters-1.jpg" alt="">
          </div>
          <div class="masters-item__info">
            <h5 class="masters-item__title">Масловская Юлия Александровна</h5>
            <div class="masters-item__text">
              <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
              <p>Стаж работы: 14 лет</p>
            </div>
          </div>
        </div>
      </div>
      <div class="specialists-item">
        <div class="masters-item">
          <div class="masters-item__img">
            <img src="./assets/images/masters-1.jpg" alt="">
          </div>
          <div class="masters-item__info">
            <h5 class="masters-item__title">Масловская Юлия Александровна</h5>
            <div class="masters-item__text">
              <p>Пластический хирург, врач дерматовенеролог, косметолог</p>
              <p>Стаж работы: 14 лет</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{{> _main-form }}