<div class="page-nav">
  <div class="container">
    <div class="page-nav__container">
      <a href="#" class="page-nav__link">
        Главная
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
      <a href="#" class="page-nav__link">
        Акции
        <svg>
          <use href="#drop-arrow-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</div>

<section class="stocks">
  <div class="container">
    <div class="stocks__container">
      <h1 class="page-title stocks__title">Акции</h1>

      <div class="stocks__nav">
        <div class="swiper-btns">
          <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
          <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
            <svg>
              <use href="#arrow-icon"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="swiper stocks__info">
        <div class="swiper-wrapper">
        </div>
      </div>

      <div class="swiper stocks__swiper">
        <div class="swiper swiper-wrapper">
          <div class="swiper-slide">
            <div class="stocks-item">
              <div class="stocks-item__img">
                <img src="./assets/images/stocks-1.jpg" alt="">
              </div>
              <div class="stocks-item__text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Enim diam vulputate ut pharetra sit amet aliquam. Magnis dis parturient montes
                  nascetur ridiculus mus mauris.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="stocks-item">
              <div class="stocks-item__img">
                <img src="./assets/images/main-about.jpg" alt="">
              </div>
              <div class="stocks-item__text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Enim diam vulputate ut pharetra sit amet aliquam. Magnis dis parturient montes
                  nascetur ridiculus mus mauris.
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  nascetur ridiculus mus mauris.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="stocks-item">
              <div class="stocks-item__img">
                <img src="../assets/images/services-2.jpg" alt="">
              </div>
              <div class="stocks-item__text">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua. Enim diam vulputate ut pharetra sit amet aliquam. Magnis dis parturient montes
                  nascetur ridiculus mus mauris.
                  dolore magna aliqua. Enim diam vulputate ut pharetra sit amet aliquam. Magnis dis parturient montes
                  dolore magna aliqua. Enim diam vulputate ut pharetra sit amet aliquam. Magnis dis parturient montes
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{> _main-form }}